* {
  box-sizing: border-box;
}
.post {
  background-color: #f3f4f5;
  .header {
    height: 60px;
    background-color: #3CCACE;
    width: 100vw;
    padding: 0 30px;
    border-bottom: 1px solid #D8D8D8;
    display: flex;
    .left-header {
      width: 500px;
      display: flex;
      align-items: center;
    }
      .fa {
        margin-right: 20px;
      }
      form {
        width: 400px;  
      }
        .form__input {
          font-size: 20px;
          height: 40px;
          width: 300px;
        }
        .form__btn {
          height: 40px;
          width: 50px;
        }
    .lists {
      display: flex;
      align-items: center;
      margin-left: auto;
      font-size: 20px;
      line-height: 20px;
      li {
        margin-right: 30px;
        cursor: pointer;
      }
      a {
        text-decoration: none;
        color: black;
      }
    }
  }
}

