.new-task {
  margin: 30px 25%;
  .task {
    padding-bottom: 30px;
    &__form {
      width: 700px;
      height: 40px;
      font-size: 1rem;
    }
  }
  .date {
    padding-bottom: 30px;
  }
  // .sub-task {
  //   padding-bottom: 30px;
  //   &__form {
  //     width: 700px;
  //     height: 40px;
  //     font-size: 1rem;
  //   }
  // }
  .memo {
    padding-bottom: 30px;
    &__form {
      text-align: initial;
      width: 703px;
      height: 300px;
      font-size: 1rem;
    }
  }
  .add-btn {
    text-align: center;
    .task-btn {
      display: inline-block;
      width: 200px;
      line-height: 48px;
      background: #3CCACE;
      border: 1px solid #3CCACE;
      color: #fff;
      border-radius: 100px;
      cursor: pointer;
      font-size: 20px;
      font-weight: bold;
    }
  }
}

.task-btn:hover {
  opacity: .6;
}

p {
  font-size: 20px;
}