.side-bar {
  width: 300px;
  background-color: #f5f5f5;
  float: left;
  padding-top: 20px;
  height: calc(100vh - 60px);
  ul {
    padding: 0 40px;
    li {
      padding-top: 20px;
      cursor: pointer;
    }
    li:hover {
      font-weight :bold;
    }
  }
}