.main
  .main__content
    全てのタスク
  .main__action
    .main__action__plan
      %ul.tasks
        - @tasks.each do |task|
        %li.task
          = task.content
            .task-left
              .task-left__top
                .task-left__top__button
                  = check_box_tag :check1
                .task-left__top__title
                  個人アプリ開発
              .task-left__date
                8月20日(水)
            .task-right
              .task-right__edit
                = link_to '編集'
              .task-right__delete
                = link_to '削除'
      .add-task
        タスクを追加



