.post
  .header
    .header__title
      PLAN
    %ul.header__lists
      %li.list
        ログイン
      %li.list
        新規登録
  .form
    = form_tag posts_path, method: :get, class: 'form__input' do
      = text_field_tag :body
      = submit_tag '検索', class: 'form__btn'
  .plans
    .plan
      .left-plan
        .left-plan__user-name
          name
        .left-plan__title
          プログラミング
      .right-plan
        .right-plan__detail
          詳細

