.new-task
  .task
    %p.task__paragraph1 タスク
    .task__title
      = @post.title
  .date
    %p.date__paragraph2 期日
    .date__detail
      = @post.due_date
  .memo
    %p.memo__paragraph4 メモ
    .memo__detail
      = @post.memo